* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #f6e1e1;    
    background: linear-gradient(135deg, rgba(255,247,247,1) 50%, rgba(246,225,225,1) 100%);
    font-family: 'Sriracha', cursive, 'Roboto';
    min-height: 100%;   
}

.image-logo {
    height: 30px;
    width: 30px;
}

a {
    color: white;
    margin: 0px 1px;
    text-decoration: none;  
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
    margin-bottom: 50px;
}

header span {
    margin: 0 14px;
    color: black;
    font-size: 22px;
    font-weight: 800;
}

.wrapper {
    margin: 0 auto;
}

.timer-options-container, .control-buttons-container {
    display: flex;
    width: 100%;
    justify-content: center; 
}

div.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

h1 {
    display: flex;
    justify-content: center;    
    font-size: 4em;
    padding: 0 0.5em;
    background-color: #fc9d9d2f;
    border-radius: 4px;
    margin: 20px 0;
    width: 2.6em;
}

button {
    font-family: 'Sriracha', sans-serif;           
    font-size: 16px;    
    color: white; 
    border-style: none; 
}

button.timer-options:hover, .control-buttons-container button:hover {        
    transition: scale, background-color 1s;   
    transform: scale(1.05);
    cursor: pointer;
}

button.timer-options {
    border-style: none;
    background-color:#4b4b94;
    padding: 8px 8px;
    margin: 0px -1px;
    border-radius: 6px;    
}

button.timer-options:active {
    background-color: #424288;
    outline: none;
}

.control-buttons-container button {
    border-radius: 10px;
    background-color: #b3282f;
    margin: 0 5px;
    padding: 6px 12px;
    width: 5em;
    
}

.control-buttons-container button:active {
    background-color: #942228;
}

button:focus {
    outline: none;
}

div.clock {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.control-buttons {
    display: flex;
    justify-content: center;
}

footer span {
    margin-left: 2px;    
    font-size: 8px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #333366;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    display: flex;
}

@media only screen and (min-width: 768px) {    
    .image-logo {
        height: 40px;
        width: 40px;
    }

    header span {
        font-size: 35px;
        margin: 0 20px;
    }
    
    button.timer-options {
        padding: 10px 18px;
        font-size: 20px;
    }

    h1 {
        font-size: 5em;
    }
    
    .control-buttons-container button {
        font-size: 20px;
    }

    footer span {
        font-size: 12px;
        margin-left: 3px;
    }
}

@media only screen and (min-width: 1250px) {    
    .image-logo {
        height: 60px;
        width: 60px;
    }

    header span {
        font-size: 40px;
        margin: 0 25px;
    }

    h1 {
        font-size: 6em;
    }

    button.timer-options {
        padding: 10px 25px;
        font-size: 25px;
    }

    .control-buttons-container button {
        font-size: 25px;
    }

    footer span {
        margin-left: 4px;
        font-size: 13px;
    }
    
}

