$controlBtnsColor: #575794;
$startBtn: #4d9105;
$stopBtn: #b12129;
$footerColor: #333366;
$backgroundGradient: linear-gradient(135deg, rgba(255, 247, 247, 1) 50%, rgba(246, 225, 225, 1) 100%);
$clockFaceColor: #fc9d9d2f;